<div class="container1">
  <div class="card">
    <form [formGroup]="shift1" role="form">
      <table class="table table-borderless">
        <tr>
          <th>
            <span class="glyphicon glyphicon-triangle-bottom blue"></span>&nbsp;Shift1</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Active
            <input type="checkbox">
          </th>
        </tr>
        <tbody class="tbody">







          <tr formArrayName="monday">
            <td>
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Monday
            </td>
            <td formGroupName="0">
              <div formArrayName="startTime">
                <div [ngStyle]="{'backgroundColor': monday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                  <input  (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input  (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />

                  <span (click)="valueUpdate('inc','start','monday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="valueUpdate('dec','start','monday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                </div>
              </div>
            </td>
            <td formGroupName="0">
              <div formArrayName="endTime">
                <div [ngStyle]="{'backgroundColor': monday2 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">

                  <input  formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />

                  <span (click)="valueUpdate('inc','end','monday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="valueUpdate('dec','end','monday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>

                </div>
              </div>
            </td>
            <td>
              <button type="button" (click)="applyforAll('shift1')" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
            </td>
          </tr>



          <tr formArrayName="tuesday">
              <td>
                <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
              </td>
              <td formGroupName="0">
                <div formArrayName="startTime">
                  <div  [ngStyle]="{'backgroundColor': tuesday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                    <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input  (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="valueUpdate('inc','start','tuesday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="valueUpdate('dec','start','tuesday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                  </div>
                </div>
              </td>
              <td formGroupName="0">
                <div formArrayName="endTime">
                  <div [ngStyle]="{'backgroundColor': tuesday2 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
  
                    <input  (focus)="mrg1=true;mrg2=false;mrg3=false"  formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="valueUpdate('inc','end','tuesday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="valueUpdate('dec','end','tuesday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
  
                  </div>
                </div>
              </td>
              <td>
                <button type="button" (click)="copytheAbove('shift1','tuesday')" colspan="1" class="btn">COPPY THE ABOVE</button>
              </td>
            </tr>



            <tr formArrayName="wednesday">
                <td>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;Wednesday
                </td>
                <td formGroupName="0">
                  <div formArrayName="startTime">
                    <div [ngStyle]="{'backgroundColor': wednesday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                      <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="valueUpdate('inc','start','wednesday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="valueUpdate('dec','start','wednesday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                    </div>
                  </div>
                </td>
                <td formGroupName="0">
                  <div formArrayName="endTime">
                    <div [ngStyle]="{'backgroundColor': wednesday2 == true ? '	#FFFF00' : '#F5F5F5' }"  class="boxinput" formGroupName="0">
    
                      <input formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="valueUpdate('inc','end','wednesday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="valueUpdate('dec','end','wednesday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                    </div>
                  </div>
                </td>
                <td>
                  <button type="button" (click)="copytheAbove('shift1','wednesday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                </td>
              </tr>



              <tr formArrayName="thursday">
                  <td>
                    <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="startTime">
                      <div [ngStyle]="{'backgroundColor': thursday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                        <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="valueUpdate('inc','start','thursday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="valueUpdate('dec','start','thursday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                      </div>
                    </div>
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="endTime">
                      <div   [ngStyle]="{'backgroundColor': thursday2 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
      
                        <input formControlName="hours"  (focus)="mrg1=true;mrg2=false;mrg3=false"  type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input formControlName="minutes"  (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="valueUpdate('inc','end','thursday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="valueUpdate('dec','end','thursday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
      
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" (click)="copytheAbove('shift1','thursday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                  </td>
                </tr>



                <tr formArrayName="friday">
                    <td>
                      <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="startTime">
                        <div [ngStyle]="{'backgroundColor': friday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                          <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="valueUpdate('inc','start','friday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="valueUpdate('dec','start','friday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                        </div>
                      </div>
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="endTime">
                        <div [ngStyle]="{'backgroundColor': friday2 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
        
                          <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="valueUpdate('inc','end','friday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="valueUpdate('dec','end','friday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
        
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" (click)="copytheAbove('shift1','friday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                    </td>
                  </tr>



                  <tr formArrayName="saturday">
                      <td>
                        <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="startTime">
                          <div [ngStyle]="{'backgroundColor': saturday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                            <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="valueUpdate('inc','start','saturday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="valueUpdate('dec','start','saturday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                          </div>
                        </div>
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="endTime">
                          <div [ngStyle]="{'backgroundColor': saturday2 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
          
                            <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="valueUpdate('inc','end','saturday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="valueUpdate('dec','end','saturday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          
                          </div>
                        </div>
                      </td>
                      <td>
                        <button type="button" (click)="copytheAbove('shift1','saturday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                      </td>
                    </tr>




                    <tr formArrayName="sunday">
                        <td>
                          <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="startTime">
                            <div [ngStyle]="{'backgroundColor': sunday1 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                              <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="valueUpdate('inc','start','sunday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="valueUpdate('dec','start','sunday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                            </div>
                          </div>
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="endTime">
                            <div [ngStyle]="{'backgroundColor': sunday2 == true ? '	#FFFF00' : '#F5F5F5' }"  class="boxinput" formGroupName="0">
            
                              <input (focus)="mrg1=true;mrg2=false;mrg3=false"  formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="valueUpdate('inc','end','sunday','shift1')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="valueUpdate('dec','end','sunday','shift1')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
            
                            </div>
                          </div>
                        </td>
                        <td>
                          <button type="button" (click)="copytheAbove('shift1','sunday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                        </td>
                      </tr>






        </tbody>

      </table>
    </form>
  </div>
<!--Shift2-->


<div class="card">
    <form [formGroup]="shift2" role="form">
    <table class="table table-borderless">
      <tr>
        <th>
          <span class="glyphicon glyphicon-triangle-bottom blue"></span>&nbsp;shift2</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Active
          <input type="checkbox">
        </th>
      </tr>
      <tbody class="tbody">
    
    
    
    
    
    
    
        <tr formArrayName="monday">
          <td>
            <input type="checkbox">&nbsp;&nbsp;&nbsp;Monday
          </td>
          <td formGroupName="0">
            <div formArrayName="startTime">
              <div  [ngStyle]="{'backgroundColor': monday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                <input  (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                <input  (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                  value="" />
    
                <span (click)="valueUpdate('inc','start','monday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="valueUpdate('dec','start','monday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </div>
          </td>
          <td formGroupName="0">
            <div formArrayName="endTime">
              <div [ngStyle]="{'backgroundColor': monday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
    
                <input formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                  value="" />
    
                <span (click)="valueUpdate('inc','end','monday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="valueUpdate('dec','end','monday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
              </div>
            </div>
          </td>
          <td>
            <button type="button" (click)="applyforAll('shift2')" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
          </td>
        </tr>
    
    
    
        <tr formArrayName="tuesday">
            <td>
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
            </td>
            <td formGroupName="0">
              <div formArrayName="startTime">
                <div [ngStyle]="{'backgroundColor': tuesday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                  <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input  (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />
    
                  <span (click)="valueUpdate('inc','start','tuesday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="valueUpdate('dec','start','tuesday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                </div>
              </div>
            </td>
            <td formGroupName="0">
              <div formArrayName="endTime">
                <div [ngStyle]="{'backgroundColor': tuesday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
    
                  <input (focus)="mrg1=true;mrg2=false;mrg3=false"  formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />
    
                  <span (click)="valueUpdate('inc','end','tuesday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="valueUpdate('dec','end','tuesday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                </div>
              </div>
            </td>
            <td>
              <button type="button" (click)="copytheAbove('shift2','tuesday')" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
    
    
    
          <tr formArrayName="wednesday">
              <td>
                <input type="checkbox">&nbsp;&nbsp;&nbsp;Wednesday
              </td>
              <td formGroupName="0">
                <div formArrayName="startTime">
                  <div [ngStyle]="{'backgroundColor': wednesday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                    <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
    
                    <span (click)="valueUpdate('inc','start','wednesday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="valueUpdate('dec','start','wednesday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                  </div>
                </div>
              </td>
              <td formGroupName="0">
                <div formArrayName="endTime">
                  <div [ngStyle]="{'backgroundColor': wednesday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
    
                    <input formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
    
                    <span (click)="valueUpdate('inc','end','wednesday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="valueUpdate('dec','end','wednesday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                  </div>
                </div>
              </td>
              <td>
                <button type="button" (click)="copytheAbove('shift2','wednesday')" colspan="1" class="btn">COPPY THE ABOVE</button>
              </td>
            </tr>
    
    
    
            <tr formArrayName="thursday">
                <td>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
                </td>
                <td formGroupName="0">
                  <div formArrayName="startTime">
                    <div [ngStyle]="{'backgroundColor': thursday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                      <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="valueUpdate('inc','start','thursday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="valueUpdate('dec','start','thursday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                    </div>
                  </div>
                </td>
                <td formGroupName="0">
                  <div formArrayName="endTime">
                    <div [ngStyle]="{'backgroundColor': thursday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
    
                      <input formControlName="hours"  (focus)="mrg1=true;mrg2=false;mrg3=false"  type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input formControlName="minutes"  (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="valueUpdate('inc','end','thursday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="valueUpdate('dec','end','thursday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                    </div>
                  </div>
                </td>
                <td>
                  <button type="button" (click)="copytheAbove('shift2','thursday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                </td>
              </tr>
    
    
    
              <tr formArrayName="friday">
                  <td>
                    <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="startTime">
                      <div [ngStyle]="{'backgroundColor': friday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                        <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="valueUpdate('inc','start','friday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="valueUpdate('dec','start','friday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                      </div>
                    </div>
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="endTime">
                      <div [ngStyle]="{'backgroundColor': friday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
      
                        <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="valueUpdate('inc','end','friday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="valueUpdate('dec','end','friday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
      
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" (click)="copytheAbove('shift2','friday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                  </td>
                </tr>
    
    
    
                <tr formArrayName="saturday">
                    <td>
                      <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="startTime">
                        <div [ngStyle]="{'backgroundColor': saturday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                          <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="valueUpdate('inc','start','saturday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="valueUpdate('dec','start','saturday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                        </div>
                      </div>
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="endTime">
                        <div [ngStyle]="{'backgroundColor': saturday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
        
                          <input (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input  (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="valueUpdate('inc','end','saturday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="valueUpdate('dec','end','saturday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
        
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" (click)="copytheAbove('shift2','saturday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                    </td>
                  </tr>
    
    
    
    
                  <tr formArrayName="sunday">
                      <td>
                        <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="startTime">
                          <div [ngStyle]="{'backgroundColor': sunday3 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
                            <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="valueUpdate('inc','start','sunday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="valueUpdate('dec','start','sunday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                          </div>
                        </div>
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="endTime">
                          <div [ngStyle]="{'backgroundColor': sunday4 == true ? '	#FFFF00' : '#F5F5F5' }" class="boxinput" formGroupName="0">
          
                            <input (focus)="mrg1=true;mrg2=false;mrg3=false"  formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="valueUpdate('inc','end','sunday','shift2')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="valueUpdate('dec','end','sunday','shift2')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          
                          </div>
                        </div>
                      </td>
                      <td>
                        <button type="button" (click)="copytheAbove('shift2','sunday')" colspan="1" class="btn">COPPY THE ABOVE</button>
                      </td>
                    </tr>
    
      </tbody>
    
    </table>
    </form>
    </div>
<br/>
  <button (click)="save()">Date</button>
<!---->
</div>