<div class="container1">
  <div class="card">
    <form [formGroup]="shift1" role="form">
      <table class="table table-borderless">
        <tr>
          <th>
            <span class="glyphicon glyphicon-triangle-bottom blue"></span>&nbsp;Shift1</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Active
            <input type="checkbox">
          </th>
        </tr>
        <tbody class="tbody">







          <tr formArrayName="monday">
            <td>
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Monday
            </td>
            <td formGroupName="0">
              <div formArrayName="startTime">
                <div class="boxinput" formGroupName="0">
                  <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />

                  <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="decrement('monday','mrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                </div>
              </div>
            </td>
            <td formGroupName="0">
              <div formArrayName="endTime">
                <div class="boxinput" formGroupName="0">

                  <input formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                  <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                    value="" />

                  <span (click)="increment('moneve')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                  <span (click)="decrement('moneve')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>

                </div>
              </div>
            </td>
            <td>
              <button type="button" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
            </td>
          </tr>



          <tr formArrayName="tuesday">
              <td>
                <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
              </td>
              <td formGroupName="0">
                <div formArrayName="startTime">
                  <div class="boxinput" formGroupName="0">
                    <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                  </div>
                </div>
              </td>
              <td formGroupName="0">
                <div formArrayName="endTime">
                  <div class="boxinput" formGroupName="0">
  
                    <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
  
                  </div>
                </div>
              </td>
              <td>
                <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
              </td>
            </tr>



            <tr formArrayName="wednesday">
                <td>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;Wednesday
                </td>
                <td formGroupName="0">
                  <div formArrayName="startTime">
                    <div class="boxinput" formGroupName="0">
                      <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                    </div>
                  </div>
                </td>
                <td formGroupName="0">
                  <div formArrayName="endTime">
                    <div class="boxinput" formGroupName="0">
    
                      <input formControlName="hours" (focus)="mrg1=true;mrg2=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input formControlName="minutes" (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                    </div>
                  </div>
                </td>
                <td>
                  <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                </td>
              </tr>



              <tr formArrayName="thursday">
                  <td>
                    <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="startTime">
                      <div class="boxinput" formGroupName="0">
                        <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                      </div>
                    </div>
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="endTime">
                      <div class="boxinput" formGroupName="0">
      
                        <input formControlName="hours"  (focus)="mrg1=true;mrg2=false;mrg3=false"  type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input formControlName="minutes"  (focus)="mrg2=true;mrg1=false;mrg3=false" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input formControlName="seasion" (focus)="mrg3=true;mrg2=false;mrg1=false" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
      
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                  </td>
                </tr>



                <tr formArrayName="friday">
                    <td>
                      <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="startTime">
                        <div class="boxinput" formGroupName="0">
                          <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                        </div>
                      </div>
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="endTime">
                        <div class="boxinput" formGroupName="0">
        
                          <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
        
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                    </td>
                  </tr>



                  <tr formArrayName="saturday">
                      <td>
                        <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="startTime">
                          <div class="boxinput" formGroupName="0">
                            <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                          </div>
                        </div>
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="endTime">
                          <div class="boxinput" formGroupName="0">
          
                            <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          
                          </div>
                        </div>
                      </td>
                      <td>
                        <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                      </td>
                    </tr>




                    <tr formArrayName="sunday">
                        <td>
                          <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="startTime">
                            <div class="boxinput" formGroupName="0">
                              <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                            </div>
                          </div>
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="endTime">
                            <div class="boxinput" formGroupName="0">
            
                              <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
            
                            </div>
                          </div>
                        </td>
                        <td>
                          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                        </td>
                      </tr>






        </tbody>

      </table>
    </form>
  </div>








  <div class="card">
      <form [formGroup]="shift2" role="form">
        <table class="table table-borderless">
          <tr>
            <th>
              <span class="glyphicon glyphicon-triangle-bottom blue"></span>&nbsp;Shift2</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Active
              <input type="checkbox">
            </th>
          </tr>
          <tbody class="tbody">
  
  
  
  
  
  
  
            <tr formArrayName="monday">
              <td>
                <input type="checkbox">&nbsp;&nbsp;&nbsp;Monday
              </td>
              <td formGroupName="0">
                <div formArrayName="startTime">
                  <div class="boxinput" formGroupName="0">
                    <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                  </div>
                </div>
              </td>
              <td formGroupName="0">
                <div formArrayName="endTime">
                  <div class="boxinput" formGroupName="0">
  
                    <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                    <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                      value="" />
  
                    <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                    <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
  
                  </div>
                </div>
              </td>
              <td>
                <button type="button" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
              </td>
            </tr>
  
  
  
            <tr formArrayName="tuesday">
                <td>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
                </td>
                <td formGroupName="0">
                  <div formArrayName="startTime">
                    <div class="boxinput" formGroupName="0">
                      <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                    </div>
                  </div>
                </td>
                <td formGroupName="0">
                  <div formArrayName="endTime">
                    <div class="boxinput" formGroupName="0">
    
                      <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                      <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                        value="" />
    
                      <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                      <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
    
                    </div>
                  </div>
                </td>
                <td>
                  <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                </td>
              </tr>
  
  
  
              <tr formArrayName="wednesday">
                  <td>
                    <input type="checkbox">&nbsp;&nbsp;&nbsp;Wednesday
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="startTime">
                      <div class="boxinput" formGroupName="0">
                        <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                      </div>
                    </div>
                  </td>
                  <td formGroupName="0">
                    <div formArrayName="endTime">
                      <div class="boxinput" formGroupName="0">
      
                        <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                        <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                          value="" />
      
                        <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                        <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
      
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                  </td>
                </tr>
  
  
  
                <tr formArrayName="thursday">
                    <td>
                      <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="startTime">
                        <div class="boxinput" formGroupName="0">
                          <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                        </div>
                      </div>
                    </td>
                    <td formGroupName="0">
                      <div formArrayName="endTime">
                        <div class="boxinput" formGroupName="0">
        
                          <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                          <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                          <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                            value="" />
        
                          <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                          <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
        
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                    </td>
                  </tr>
  
  
  
                  <tr formArrayName="friday">
                      <td>
                        <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="startTime">
                          <div class="boxinput" formGroupName="0">
                            <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                          </div>
                        </div>
                      </td>
                      <td formGroupName="0">
                        <div formArrayName="endTime">
                          <div class="boxinput" formGroupName="0">
          
                            <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                            <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                            <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                              value="" />
          
                            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          
                          </div>
                        </div>
                      </td>
                      <td>
                        <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                      </td>
                    </tr>
  
  
  
                    <tr formArrayName="saturday">
                        <td>
                          <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="startTime">
                            <div class="boxinput" formGroupName="0">
                              <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                            </div>
                          </div>
                        </td>
                        <td formGroupName="0">
                          <div formArrayName="endTime">
                            <div class="boxinput" formGroupName="0">
            
                              <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                              <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                              <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                value="" />
            
                              <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                              <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
            
                            </div>
                          </div>
                        </td>
                        <td>
                          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                        </td>
                      </tr>
  
  
  
  
                      <tr formArrayName="sunday">
                          <td>
                            <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
                          </td>
                          <td formGroupName="0">
                            <div formArrayName="startTime">
                              <div class="boxinput" formGroupName="0">
                                <input id="monn11" (focus)="mrg1=true;mrg2=false;mrg3=false" formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                                <input id="monn12" (focus)="mrg2=true;mrg1=false;mrg3=false" formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                                <input id="monn13" (focus)="mrg3=true;mrg2=false;mrg1=false" formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                  value="" />
              
                                <span (click)="increment('monmrg')" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                                <span (click)="decrement('monmrg')" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                              </div>
                            </div>
                          </td>
                          <td formGroupName="0">
                            <div formArrayName="endTime">
                              <div class="boxinput" formGroupName="0">
              
                                <input formControlName="hours" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                                <input formControlName="minutes" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2" value="" />
                                <input formControlName="seasion" type="text" class="tel-number-field form-control col-md-2" style="width:25px;" name="tel_no_2"
                                  value="" />
              
                                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              
                              </div>
                            </div>
                          </td>
                          <td>
                            <button type="button" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
                          </td>
                        </tr>
  
  
  
  
  
  
          </tbody>
  
        </table>
      </form>
    </div>









</div>