.container1{
    background: #DCDCDC;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card{
    margin-top:2%;
    margin-left:10%;
    width:40%;
    background:	white;
}
    .blue{
        color:	#00BFFF;
    }
    .active1{
        margin-left: 12%;
        position: absolute;
    }
    .the{
        margin-left: 20px;
        position: absolute;
    }
   
    .tel-number-field{
        width: 40px;
        border:none;
        z-index: 999;
        background: #F5F5F5;
        padding: none;
    }
    .move{
        color: 	#C0C0C0;
        margin-left: 0.5px;
    }
    .move1{
        margin-top: 3px;
        color: 	#C0C0C0;
    }
.boxinput{
    width: 165px;
    height:36px;
    margin-top: -1px;
  margin-left: -2px;
  background: #F5F5F5;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
}

    /* <div class='input-group'>
    <input type='text' value=" {{timemon.hour}} : {{timemon.minute}} " class="form-control" disabled>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"  (click)="changemon()"></span>
    <ngb-timepicker *ngIf="changmon1" [(ngModel)]="timemon" [meridian]="true"></ngb-timepicker>  
  </span>
  </div> */