 <div class="container1">
  <div class="card">
      <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
  <table class="table">
       <tr>
        <th><span class="glyphicon glyphicon-triangle-bottom blue" ></span>  Shift2</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Start time</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End time</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Active&nbsp;&nbsp;&nbsp;<input type="checkbox"></th>
      </tr>
      <tr>
        <td class="col-md-2">
          <input  type="checkbox">&nbsp;&nbsp;&nbsp;Monday
        </td>
        <td class="col-md-2">
         <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
         <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
         <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
         <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
         </div>
        </td>
        <td class="col-md-2">
            <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
            <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
            <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
            <div class="boxinput">
               <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
               <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
            </div>
           </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
        </td>
      </tr>
      <tr>
          <td class="col-md-2">
            <input  type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
          </td>
          <td class="col-md-2">
           <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
           <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
           <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
           <div class="boxinput">
              <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
              <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
           </div>
          </td>
          <td class="col-md-2">
              <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
              <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
              <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
              <div class="boxinput">
                 <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                 <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
             </td>
          <td class="col-md-1">
            <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
          </td>
        </tr>
        <tr>
            <td class="col-md-2">
              <input  type="checkbox">&nbsp;&nbsp;&nbsp;Wednesday
            </td>
            <td class="col-md-2">
             <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
             <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
             <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
             <div class="boxinput">
                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
             </div>
            </td>
            <td class="col-md-2">
                <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                <div class="boxinput">
                   <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                   <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                </div>
               </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
          <tr>
              <td class="col-md-2">
                <input  type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
              </td>
              <td class="col-md-2">
               <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
               <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
               <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
               <div class="boxinput">
                  <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                  <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
               </div>
              </td>
              <td class="col-md-2">
                  <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                  <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                  <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                  <div class="boxinput">
                     <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                     <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                  </div>
                 </td>
              <td class="col-md-1">
                <button type="button" colspan="1" class="btn">   COPPY THE ABOVE  </button>
              </td>
            </tr>
            <tr>
                <td class="col-md-2">
                  <input  type="checkbox">&nbsp;&nbsp;&nbsp;Friday
                </td>
                <td class="col-md-2">
                 <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                 <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                 <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                 <div class="boxinput">
                    <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                    <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                 </div>
                </td>
                <td class="col-md-2">
                    <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                    <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                    <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                    <div class="boxinput">
                       <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                       <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                    </div>
                   </td>
                <td class="col-md-1">
                  <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                </td>
              </tr>
              <tr>
                  <td class="col-md-2">
                    <input  type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
                  </td>
                  <td class="col-md-2">
                   <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                   <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                   <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                   <div class="boxinput">
                      <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                      <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                   </div>
                  </td>
                  <td class="col-md-2">
                      <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                      <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                      <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                      <div class="boxinput">
                         <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                         <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                      </div>
                     </td>
                  <td class="col-md-1">
                    <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                  </td>
                </tr>
                <tr>
                    <td class="col-md-2">
                      <input  type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
                    </td>
                    <td class="col-md-2">
                     <input (focus)="onFocus()"  formControlName="monday" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                     <input (focus)="onFocus1()" formControlName="monday1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                     <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                     <div class="boxinput">
                        <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                        <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                     </div>
                    </td>
                    <td class="col-md-2">
                        <input (focus)="onFocuss()"  formControlName="mondayy" type="text" class="tel-number-field form-control col-md-2" name="tel_no_1" value="" />
                        <input (focus)="onFocuss1()" formControlName="mondayy1" type="text" class="tel-number-field form-control col-md-2" name="tel_no_2" value=""  />
                        <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:45px;" name="tel_no_2" value=""  />
                        <div class="boxinput">
                           <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>        
                           <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
                        </div>
                       </td>
                    <td class="col-md-1">
                      <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
                    </td>
                  </tr>
  </table>
      </form>
</div>
</div>
<!-- <ngb-timepicker [(ngModel)]="timemon" [meridian]="true"></ngb-timepicker> -->



 <!-- <div class='input-group'>
  <input type='text' value=" {{timemon.hour}} : {{timemon.minute}} " class="form-control" disabled>
  <span class="input-group-addon">
      <span class="glyphicon glyphicon-time"  (click)="changemon()"></span>
  <ngb-timepicker *ngIf="changmon1" [(ngModel)]="timemon" [meridian]="true"></ngb-timepicker>  
</span>
</div>

<p>Selected time Monday: {{timemon | json}}</p> -->
 
