.container1{
    background: #DCDCDC;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card{
    margin-top:2%;
    margin-left:10%;
    width:30%;
    height: 25%;
    background:	white;
    float: left;
}
    .blue{
        color:	#00BFFF;
    }
    .active1{
        margin-left: 12%;
        position: absolute;
    }
    .the{
        margin-left: 20px;
        position: absolute;
    }
   
    .tel-number-field{
        width: 20px;
        height: 28px;
        border:none;
        padding: 0px;
        z-index: 999;
        background: #F5F5F5;
        padding: none;
    }
    .move{
        color: 	#C0C0C0;
        margin-left: -7px;
        margin-top:-1px;
    }
    .move1{
        margin-left: -7px;
        margin-top: 0px;
        color: 	#C0C0C0;
    }
.boxinput{
    width: 93px;
    height:30px;
    margin-top: -1px;
  margin-left: -2px;
  background: #F5F5F5;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
}
.btn{
    border-radius: 0px;
    width:180px;
    height: 30px;
    color:white;
    text-align: center;
}
.tbody{
    background: #F8F8F8;
}
.table-borderless td{
    border: none;
}
.table-borderless th {
    border-bottom: 1px solid #D3D3D3;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
   


/* <div class="card">
<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
  <table class="table table-borderless">
    <tr>
      <th>
        <span class="glyphicon glyphicon-triangle-bottom blue"></span>&nbsp;Shift2</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;Start time</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End time</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox">
      </th>
    </tr>
    <tbody class="tbody">
      <tr>
        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Monday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">APPLY FOR ALL WEEK</button>
        </td>
      </tr>
      <tr>

        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
        </td>
      </tr>
      <tr>

        <td class="col-md-3">
          <input type="checkbox">&nbsp;Wednesday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
        </td>
      </tr>
      <tr>

        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn"> COPPY THE ABOVE </button>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
        </td>
      </tr>
      <tr>

        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
        </td>
        <td class="col-md-2">
          <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
        </td>
      </tr>
      <tr>

        <td class="col-md-2">
          <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
        </td>
        <td class="col-md-2">
          <input max="12" (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2"
            name="tel_no_1" value="" />
          <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-2">
          <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
            value="" />
          <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
            value="" />
          <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
            name="tel_no_2" value="" />
          <div class="boxinput">
            <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
            <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
          </div>
        </td>
        <td class="col-md-1">
          <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<button class="btn btn-warning" [disabled]="!rForm.valid">Save</button>
</div> */



/* <tr>

            <td class="col-md-2">
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Tuesday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
          <tr>

            <td class="col-md-3">
              <input type="checkbox">&nbsp;Wednesday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />
                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
          <tr>

            <td class="col-md-2">
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Thursday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn"> COPPY THE ABOVE </button>
            </td>
          </tr>
          <tr>

            <td class="col-md-2">
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Friday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
          <tr>


            <td class="col-md-2">
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Saturday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr>
          <tr>

            <td class="col-md-2">
              <input type="checkbox">&nbsp;&nbsp;&nbsp;Sunday
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocus()" formControlName="monday" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocus1()" formControlName="monday1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocus2()" formControlName="monday2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-2">
              <div class="boxinput">
                <input (focus)="onFocuss()" formControlName="mondayy" type="number" class="tel-number-field form-control col-md-2" name="tel_no_1"
                  value="" />
                <input (focus)="onFocuss1()" formControlName="mondayy1" type="number" class="tel-number-field form-control col-md-2" name="tel_no_2"
                  value="" />
                <input (focus)="onFocuss2()" formControlName="mondayy2" type="text" class="tel-number-field form-control col-md-2" style="width:25px;"
                  name="tel_no_2" value="" />

                <span (click)="increment1()" class="glyphicon glyphicon-chevron-up move1 col-md-1"></span>
                <span (click)="decrement1()" class="glyphicon glyphicon-chevron-down move col-md-1"></span>
              </div>
            </td>
            <td class="col-md-1">
              <button type="button" colspan="1" class="btn">COPPY THE ABOVE</button>
            </td>
          </tr> */